/* Global body styling */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Light Mode styles */
body {
    background-color: #f1f5f9; /* slate-100 */
    color: #0f172a; /* slate-900 */
}

/* Dark Mode styles */
html.dark body {
    background-color: #0f172a; /* slate-900 */
    color: #cbd5e1; /* slate-300 */
}
